body {

	background-image: url("../images/bath_house.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;
}


.baseline {


	color: red;
	background-color: white; 
	border-color: white;
	font-family: 'Permanent Marker', cursive;
	opacity: 20%;
}

.textFormat {


	

}


